@import '../../base/variables';
$gap: 5rem;

.menu-icon,
.menu-text-link {
  color: $color-blue;
}

.menu-icon {
  z-index: 1;
  margin: 1rem;
  position: absolute;
  font-size: 4rem;
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.menu-text-link {
  z-index: 1;
  margin: 1rem;
  position: absolute;
  font-size: 3rem;
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.people-icon {
  right: 2 * $gap;
}
.planets-icon {
  right: $gap;
}
.species-icon {
  right: 0;
}
.api-icon {
  right: 0;
  bottom: 0;
}
