@import '../../base/variables';
$gap: 5rem;

.menu-icon,
.menu-text-link {
  color: white;
  position: fixed;
}

.menu-icon {
  position: fixed;
  z-index: 1;
  margin: 1rem;
  font-size: 3.5rem;
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $color-yellow;
  }
}

.menu-text-link {
  z-index: 1;
  margin: 1rem;
  font-size: 2rem;
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $color-yellow;
  }
}

.people-icon {
  right: 2 * $gap;
}
.planets-icon {
  right: $gap;
}
.species-icon {
  right: 0;
}
.api-icon {
  right: 0;
  bottom: 0;
}

.left-nav {
  position: fixed;
  left: 0;
  top: 45%;
  & li {
    cursor: pointer;
  }
}

.left-nav-link {
  & .left-nav-text {
    transition: opacity 0.2s ease;
    opacity: 0;
  }
  &:hover {
    .left-nav-text {
      opacity: 1;
    }
  }
}

.active {
  font-weight: bold;

  & .left-nav-text {
    opacity: 1;
  }

  & .left-nav-indicator {
    width: 5px;
    margin-left: 0;
  }
}

.left-nav-indicator {
  background-color: $color-yellow;
  height: 1.5rem;
  width: 1px;
  margin-right: 0.75rem;
  margin-left: 2px;
  border-radius: 1000%;
}
