@import '../../base/variables';

.loading {
  font-size: 4vw;
  height: 99vh;
  letter-spacing: 1rem;
}

.blinking {
  animation: blinkingText 2.5s infinite;
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }
  50% {
    color: $color-yellow;
  }
  100% {
    color: transparent;
  }
}
