@import '../../base/variables';

.arrow {
  background-color: $color-blue;

  &:hover {
    color: $color-blue;
    background-color: black;
    transition: color 500ms ease, background-color 500ms ease;
    cursor: pointer;
  }
}
