@import '../../base/variables';

.card-wrapper {
  border: 0.2rem solid transparent;
  transition: border-color 0.3s ease, transform 0.3s ease;
  background-color: $color-dark-blue;
  & * {
    &::selection {
      background-color: gray;
    }
  }
  &:hover {
    border-color: maroon;
    transform: scale(1.025);
  }
}
