@import '../../base/variables';

.heading {
  color: white;
}

.resource-info {
  margin-right: 1rem;
}

.resource-title,
.resource-count {
  &:hover {
    cursor: default;
  }
}

.resource-count {
  color: $color-silver;
  font-size: 1.75rem;
}

.search-input {
  color: white;
  background: transparent;
  outline: none;
  width: 200px;
  border: 0;
  border-bottom: 1px solid white;
  transition: border-bottom 0.5s ease;
  &::selection {
    background-color: gray;
  }
  &:focus {
    border-bottom: 1px solid maroon;
  }
  &:hover {
    border-bottom: 1px solid maroon;
  }
  &::placeholder {
    color: $color-silver;
  }
}
