@import '../../base/variables';

.heading {
  color: white;
}

.resource-title,
.card-count {
  &:hover {
    cursor: default;
  }
}

.resource-count {
  color: $color-yellow;
}

.resource-info {
  // background-color: rgba($color: #006f8e, $alpha: 0.5);
}
