@import '../../base/variables';

.loading {
  font-family: star-wars-font;
  font-size: 4vw;
  height: 99vh;
}

.blinking {
  animation: blinkingText 2.5s infinite;
}

@keyframes blinkingText {
  0% {
    color: transparent;
  }
  50% {
    color: $color-blue;
  }
  100% {
    color: transparent;
  }
}
