.title-container {
  & .title {
    opacity: 0;
    font-size: 0;
    margin: 8rem auto;
    animation: titleLoad 2.5s ease-out 0.5s forwards;
  }
  & .title-mobile {
    display: none;
  }

  .title,
  .title-mobile {
    transition: transform 0.2s ease;
    letter-spacing: 2rem;

    &:hover {
      cursor: default;
      transform: scale(1.025);
    }
  }

  & img {
    z-index: -1;
    width: 50vw;
    left: 40%;
    bottom: 0;
    opacity: 0;
    position: absolute;
    animation: imageLoad 5s ease 2.75s forwards;
  }
}

@keyframes titleLoad {
  from {
  }
  to {
    opacity: 1;
    font-size: 6vw;
  }
}
@keyframes imageLoad {
  from {
  }
  to {
    opacity: 1;
  }
}
