@import '../../base/variables';

.footer-text-link {
  z-index: 1;
  color: white;
  transition: color 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $color-silver;
  }
}

.more-link {
  font-size: 1.5rem;
  left: 0;
  bottom: 0;
}
.api-link {
  font-size: 2rem;
  right: 10px;
  bottom: 0;
}

.footer-icon {
  margin-bottom: 10px;
  &:hover {
    transition: transform 0.2s ease;
    transform: scale(1.1);
  }
}
