@font-face {
  font-family: star-wars-font;
  src: url('./fonts/star-wars-font-italic-outline.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  text-transform: uppercase;
}

.loading,
.title {
  font-family: star-wars-font;
  letter-spacing: 1rem;
  font-weight: bold;
}

.title {
  font-size: 0;
  opacity: 0;
  animation: titleLoad 2.5s ease-out 1s forwards;
}

@media all and (max-width: 550px) {
  .title {
    font-size: 8vw;
  }
}

@keyframes titleLoad {
  from {
  }
  to {
    opacity: 1;
    font-size: 9vw;
  }
}
