@import './base/variables';

@font-face {
  font-family: heading-star-wars-font;
  src: url('./fonts/heading-star-wars-font.ttf') format('truetype');
}
@font-face {
  font-family: gotu-regular;
  src: url('./fonts/gotu-regular.ttf') format('truetype');
}

.heading-star-wars-font {
  font-family: heading-star-wars-font;
}

body {
  color: white;
  margin: 0;
  font-family: $font-body;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  text-decoration: none;
  &::selection {
    background-color: transparent;
  }
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.loading,
.title-container {
  letter-spacing: 1rem;
}

// Media queries
@media all and (max-width: 450px) {
  .title-container {
    & .title {
      display: none;
    }
    & .title-mobile {
      display: flex;
      height: 100vh;
      justify-content: center;
      padding-top: 8rem;
      font-size: 6vw;
      text-align: center;
      line-height: 2;
    }
  }
}
