@import './base/variables';

@font-face {
  font-family: heading-star-wars-font;
  src: url('./fonts/heading-star-wars-font.ttf') format('truetype');
}
@font-face {
  font-family: gotu-regular;
  src: url('./fonts/gotu-regular.ttf') format('truetype');
}

.heading-star-wars-font {
  font-family: heading-star-wars-font;
}

body {
  color: white;
  margin: 0;
  font-family: $font-body;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  background: rgb(24, 28, 57);
  background: radial-gradient(
    circle,
    rgba(24, 28, 57, 1) 0%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 1) 100%
  );

  -webkit-box-shadow: 0 0 30px #241d20;
  box-shadow: 0 0 30px #241d20;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  text-decoration: none;
  &::selection {
    background-color: transparent;
  }
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

// Media queries

@media all and (max-width: 450px) {
  .title-container {
    & .title {
      display: none;
    }
    & .title-mobile {
      display: flex;
      height: 100vh;
      justify-content: center;
      padding-top: 8rem;
      font-size: 6vw;
      text-align: center;
      line-height: 2;
    }
  }
}
