@import './base/variables';

@font-face {
  font-family: heading-star-wars-font;
  src: url('./fonts/heading-star-wars-font.ttf') format('truetype');
}
@font-face {
  font-family: gotu-regular;
  src: url('./fonts/gotu-regular.ttf') format('truetype');
}

.heading-star-wars-font {
  font-family: heading-star-wars-font;
}

body {
  color: white;
  margin: 0;
  font-family: $font-body;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  background: rgb(24, 28, 57);
  background: radial-gradient(
    circle,
    rgba(24, 28, 57, 1) 0%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 1) 100%
  );

  -webkit-box-shadow: 0 0 30px #241d20;
  box-shadow: 0 0 30px #241d20;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  text-decoration: none;
  &::selection {
    background-color: transparent;
  }
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

// Media queries

// Responsive title page image
@media all and (max-width: 1000px) {
  .title-container {
    & .darth-vader-image {
      left: 25%;
    }
  }
}

// Small devices
@media all and (max-width: 768px) {
  // Responsive title
  .title-container {
    & .title {
      display: none;
    }
    & .title-mobile {
      display: inline-block;
      margin-top: 8rem;
      font-size: 7vw;
      line-height: 2;
      letter-spacing: 1.25rem;
    }
  }

  // Responsive menu icons
  .menu-icon {
    margin: 0.25rem;
    font-size: 3rem;
  }
  .info-icon {
    left: $menu-icon-gap-mobile;
  }
  .people-icon {
    right: 2 * $menu-icon-gap-mobile;
  }
  .planets-icon {
    right: $menu-icon-gap-mobile;
  }
  .title-container {
    & .darth-vader-image {
      bottom: 5%;
    }
  }

  // Responsive left-nav
  .active {
    & .left-nav-text {
      opacity: 0;
    }
  }
  .left-nav-indicator {
    margin-right: 0.5rem;
  }

  // Responsive heading
  .heading {
    & .resource-info {
      margin-right: 0;
      & .resource-title {
        font-size: 2rem;
      }
      & .resource-count {
        font-size: 2rem;
      }
    }
    & .search-input {
      width: 175px;
    }
  }

  // Responsive resourceTemplate.scss
  .name {
    font-size: $font-size-name-mobile;
  }
  .species-name {
    margin-left: 8px;
  }
  .gender-icon {
    margin-left: 0.5rem;
    margin-top: 5px;
  }
  .attributes {
    padding-left: 0.75rem;
    & h1 {
      font-size: $font-size-attribute-mobile;
    }
  }
  .divider {
    margin: 1rem 1rem;
  }
}
