@font-face {
  font-family: title-star-wars-font-bold;
  src: url('./fonts/title-star-wars-font-bold.ttf') format('truetype');
}

@font-face {
  font-family: title-star-wars-font-italic-outline;
  src: url('./fonts/title-star-wars-font-italic-outline.ttf') format('truetype');
}

@font-face {
  font-family: star-wars-font;
  src: url('./fonts/star-wars-font.woff') format('woff'),
    url('./fonts/star-wars-font.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: star-wars-font, -apple-system, sans-serif, 'Droid Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  text-transform: uppercase;
  text-decoration: none;
}

.loading,
.title-container {
  letter-spacing: 1rem;
  font-weight: bold;
}

// Media queries
@media all and (max-width: 1050px) {
  .title-container {
    & img {
      display: none;
    }
  }
}

@media all and (max-width: 450px) {
  .title-container {
    & img {
      display: none;
    }
    & .title {
      display: none;
    }
    & .title-mobile {
      font-family: star-wars-font;
      display: flex;
      height: 100vh;
      justify-content: center;
      padding-top: 8rem;
      font-size: 6vw;
      text-align: center;
      line-height: 2;
    }
  }

  .material-icons {
    font-size: 3rem;
  }
}
