$color-dark-blue: #080912;
$color-yellow: #ffd700;
$color-silver: #999;
$font-title: heading-star-wars-font;
$font-subtitle: Georgia;
$font-body: gotu-regular, Verdana, 'Lucida Sans', san-serif;

$font-size-name-mobile: 2rem;
$font-size-attribute-mobile: 1.5rem;

$menu-icon-gap: 5rem;
$menu-icon-gap-mobile: 4rem;
