@import './variables';

.name {
  color: maroon;
  margin-bottom: 1rem;
  font-family: $font-title;
}
.gender-icon {
  margin-left: 1rem;
}
.attributes {
  padding: 0 1rem 0 2rem;

  & h1 {
    font-family: $font-subtitle;
  }
  & h2 {
    max-width: 300px;
    margin-bottom: 1rem;
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-weight: lighter;
  }
}
.divider {
  margin: 1rem 2.5rem;
  width: 4px;
  border-radius: 1000px;
  background-color: maroon;
}
.number {
  position: absolute;
  color: rgba($color: #ffffff, $alpha: 0.5);
  bottom: 0;
  right: 0;
}
