@import './variables';

.name {
  color: maroon;
  font-family: $font-title;
  font-size: 35px;
  margin-block-start: 0;
  margin-block-end: 30px;
}
.gender-icon {
  position: absolute;
  right: 0;
}
.attributes {
  padding: 0 1rem;

  & .attribute-name {
    font-family: $font-subtitle;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 8px;
    max-width: 250px;
  }

  & .attribute-value {
    font-size: 24px;
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-weight: lighter;
    max-width: 250px;

  }
}
.divider {
  margin: .75rem 1.5rem;
  width: 4px;
  border-radius: 1000px;
  background-color: maroon;
}
.number {
  position: absolute;
  color: rgba($color: #ffffff, $alpha: 0.5);
  bottom: 0;
  right: 0;
  font-weight: normal;
}
